attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
Cython==0.29.28
greenlet==1.1.2
idna==2.8
iniconfig==1.1.1
msgpack==1.0.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pymongo==4.0.2
pynvim==0.4.3
pyparsing==3.0.7
pytest==7.1.1
python-dotenv==0.19.2
requests==2.22.0
semantic-version==2.9.0
setuptools-rust==1.2.0
soupsieve==2.3.1
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.5
utils==1.0.1
wcwidth==0.2.5
wincertstore==0.2
